*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}


.tp-dfwv {
    position: absolute;
    top: 10%;
    left: 8px;
    width: 280px;
}

#studio {
    width: 100%;
    height: 100%;
    background-color: black; /* Cor de fundo preta */
    display: block; /* Remove qualquer espaço extra em torno do canvas */
}